[Desktop Entry]
Encoding=UTF-8
Name=FrodoPC
Comment=Improved line-based Commodore 64 emulator
Exec=FrodoPC
Icon=Frodo.png
Terminal=true
Type=Application
Categories=Game;Emulator;

